<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆通知</title>
</head>
<body>
<!-- 头部 -->
<div style="padding: 10px; background-color: #393D49;">
    <h2 style="color: #FFFFFF; margin: 0; text-align: center">mikuyun</h2>
</div>
<!-- 内容 -->
<div style="padding-top: 10px; padding-bottom: 10px;">
    <div style="background-color: snow; padding: 20px;">
        <div>
            <h3>尊敬的用户：您好！</h3>
            <p>说明：您已登录，为了确保您的账户安全，我们将通过邮件对您通知。</p>
            <div>
                <h4>登录信息：</h4>
                <div style="background-color: #FFFFFF; padding: 10px;">
                    <!--/*@thymesVar id="content" type="java.lang.String"*/-->
                    <h3 style="color: orange" th:text="${content}"></h3>
                    <!--/*@thymesVar id="date" type="java.lang.String"*/-->
                    <h3 style="color: orange" th:text="${date}"></h3>
                    <!--/*@thymesVar id="user" type="java.lang.String"*/-->
                    <h3 style="color: orange" th:text="'登陆账号：' + ${user}"></h3>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>