<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mikuyun.admin.mapper.DictTypeMapper">

    <select id="queryPageList" resultType="com.mikuyun.admin.entity.DictType">
        SELECT *
        FROM mk_sys_dict_type
        <where>
            <if test="dto.id != null">
                AND id = #{dto.id}
            </if>
            <if test="dto.typeName != null and dto.typeName != ''">
                AND type_name LIKE '%' || #{dto.typeName} || '%'
            </if>
            <if test="dto.typeCode != null and dto.typeCode !=''">
                AND type_code = #{dto.typeCode}
            </if>
            <if test="dto.remark != null and dto.remark != ''">
                AND remark LIKE '%' || #{dto.remark} || '%'
            </if>
        </where>
        LIMIT #{dto.size} OFFSET #{dto.offset}
    </select>

</mapper>
