<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mikuyun.admin.mapper.SysRoleMapper">

    <select id="querySysRole" resultType="java.lang.String">
        SELECT t1.role_code
        FROM mk_sys_role AS t1
                 LEFT JOIN mk_sys_user_role AS t2 ON t1.id = t2.role_id
                 LEFT JOIN mk_sys_user AS t3 on t2.user_id = t3.id
        WHERE t3.is_delete = 0
          AND t3.lock_flag = 0
          AND t3.id = #{sysUserId}
    </select>

    <select id="querySysRoleInfo" resultType="com.mikuyun.admin.entity.SysRole">
        SELECT t1.*
        FROM mk_sys_role AS t1
                 LEFT JOIN mk_sys_user_role AS t2 ON t1.id = t2.role_id
                 LEFT JOIN mk_sys_user AS t3 on t2.user_id = t3.id
        WHERE t3.is_delete = 0
          AND t3.lock_flag = 0
          AND t3.id = #{sysUserId}
    </select>

    <select id="queryRoleList" resultType="com.mikuyun.admin.vo.sysrole.QuerySysRoleListVo">
        SELECT `id`,
        `role_name`,
        `role_code`,
        `role_desc`,
        `gmt_created`
        FROM `mk_sys_role`
        WHERE `is_delete` = 0
        <if test="roleName != null and roleName != ''">
            AND `role_name` LIKE CONCAT('%', #{roleName}, '%')
        </if>
        <if test="roleCode != null and roleCode != ''">
            AND `role_code` = #{roleCode}
        </if>
        ORDER BY `id` DESC
        LIMIT #{offset}, #{size}
    </select>

</mapper>
